.home {
  color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hosting-index {
  background-color: #ffff;
  margin: 10px;
  width: 950px;
  min-height: 1000px;

  h1 {
    font-size: 32px;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    li {
      border: 1px solid #c1c1c1;
      border-radius: 10px;
      margin: 10px;
      width: 200px;
      height: 200px;
      overflow: hidden;

    }
  }

}

.hosting {
  list-style: none;
}

.home-container {
  display: flex;
  justify-content: center;
}

.index-item-info {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: none;
  h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  &:hover {
    background-color: #000;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background:rgba(0, 0, 0, 0.75);
    background-size: cover;

    h3 {
      opacity:1;
    }
  }
}
