
.side-bar-home {

  width: 320px;
  min-height: 1000px;
  div {
    background-color: #ffff;
    width: 310px;
    margin: 10px;
  }
}
.profile-info {
  list-style: none;
}

.side-bar-status {
  height: 160px;
}

.side-bar-profile {
  height: 210px;
}

.side-bar-facebook {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
