.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hosting-index {
  background-color: #ffff;
  margin: 10px;
  width: 950px;
}

.hosting {
  list-style: none;
}

.home-container {
  display: flex;
  justify-content: center;
}
