.home {
  div {
  border-bottom: 1px solid #e6e6e6;
  }
}
.side-bar-home {
  width: 320px;
  height: 2000px;
  div {
    background-color: #ffff;
    width: 310px;
    margin: 10px;
  }
}

.side-bar-status {
  height: 160px;
}

.side-bar-profile {
  height: 210px;
}

.side-bar-facebook {
  height: 180px;
}
