.home {
  color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hosting-index {
  background-color: #ffff;
  margin-bottom: 10px;
  width: 960px;
  min-height: 1000px;
  margin: 10px;
  max-height: 1500px;
  overflow: scroll;

  h1 {
    margin: 10px;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
  }

}
.hostings-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;
  cursor: pointer;
}

.hosting {
  list-style: none;
}

.home-container {
  display: flex;
  justify-content: center;
  max-height: 1500px;
  overflow: scroll;
}

.index-item-info {
  width: 300px;
  height:300px; ;
  margin:0;
  padding: 0;
  background-position: center;
  background-size: cover;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-size: cover;

  }
}

.index-item-container {
  border-radius: 3px;
  margin: 10px;
  height: 320px;;
  width: 290px;;
  box-sizing: border-box;
  overflow: hidden;
}
.overflow {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.hosting-address {
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
}
