/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}




/* ########################## */
/* ########################## */
/* this is header-nav section */
.login-signup  {
  display: flex;
  align-items: center;
}

#logo {
  margin-top: 10px;
  max-height: 100%;
  max-width: 120px;
}
.header-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  min-height: 63px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  color: #27374c;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased
}

.header-div {
  margin: auto;
  width: 87%;
  display: flex;
  justify-content: space-between;
}


#signup-nav {
  min-width: 160px;
  background-color: #287FB8;
  border: 1px solid #287FB8;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  max-width: 240px;
  padding: 8px 12px;
  text-align: center;
  padding-right: 10px;
  margin-right:  10px;
}
#signup-nav:hover {
  background-color: #206592;
  cursor: pointer;


}

#login-nav {
  border: 1px solid #287FB8;
  color: #287FB8;
  border-radius: 3px;
  min-width: 100px;
  width: auto;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  max-width: 240px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;

}
#login-nav:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  transition: all 3s ease;
  -webkit-transition: all .3s ease;
}


/* ########################## */
/* ########################## */
/* this is signup-background section*/

#signup-background {
  padding: 0px;
  margin: 0px;

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  max-width: none;
  width: auto;
  height: 600px;
  background-size: cover;
  background-image: url('https://ht-assets.couchsurfing.com/assets/homepage/have-fun-with-couchsurfing-0c56538cda235c5806dc956559fe942179937b39d686329158cd1987801ce115.jpg')
}

#signup-background {
  display: flex;
  align-items: center;
  justify-content: center;
}


.signup-background-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signup-background-content h1 {
  color: #ffff;
  font-size: 56px;
  font-weight: lighter;
  line-height: 1.1;
  margin-bottom: 10px;
}

.signup-background-content h2 {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.1;
  margin-top: 0px;

}

.signup-background-content ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.signup-background-content a {
  font-size: 1.25em;
  min-width: 230px;
  color: #ffff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  max-width: 240px;
  text-decoration:none !important;
  color: #ffff;
  font-size: 1.25em;
  min-width: 230px;
  color: #ffff;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.5;
  max-width: 240px;
  padding: 8px 12px;
  border-radius: 3px;
}


#facebook-button {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  margin: 10px;
}

#facebook-button:hover {
  background-color: #324b81;
  border: 1px solid #324b81;
}


#facebook-button span {
  width: 20px;
  height: 20px;
  margin:auto;
  margin-right: 10px;

}


#gmail-button {
  background-color: #ED6504;
  border-color: #ED6504;
  display: flex;
  margin: 10px;
}
#gmail-button:hover {
  background-color: #c95603;
  border-color: #c95603;
}
#gmail-button span {
  width: 20px;
  height: 20px;
  margin:auto;
  margin-left: .5px;
  margin-right: 10%;
}




/* ########################## */
/* ########################## */
/* this is modal section*/

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-container {
  border-top: 1px solid;
  border-bottom: 1px solid #e6e6e6;
  min-height: 600px;
  width: 500px;
  background-color: #ffff;
  border-radius: 8px;
  font-family: Lato, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
.modal-title-container {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  bord
}
.modal-title-container h1 {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  word-break: break-word;
  color: #34495E;
  width: 400px;
  font-size: 20px;
  margin: auto;
}
.modal-title-container button {
  color: #afb7c3;
  font-size: 180%;
  margin:auto;
  background-color: #ffff;
  border: none;
  cursor:pointer;

}

.login-form {

}

.login-form-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.login-input {

  background-color: #ffff;
  border-radius: 4px;
  padding: 12px 8px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.15);
  box-sizing: border-box;
  width: 440px;
  overflow: visible;
  margin-bottom: 15px;
  height: 50px;
  font-size: 16px;
}

.session-submit {
  max-width: 100%;
  width: 100%;
  background-color: #287FB8;
  border: 1px solid #287FB8;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  min-width: 6em;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}
.session-submit:hover {
  background-color: #206592;
  cursor: pointer;
  transition: all 3s ease;
  -webkit-transition: all .3s ease;
}

.other-form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.other-form-container p {
  color: #34495e;
  font-size: 1em;
}
.other-form-container button {
  margin: auto;
  margin-top: 20px;
  width: 140px;
  background-color: #ffff;
  border: 1px solid #287FB8;
  color: #287FB8;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  max-width: 140px;
}
.other-form-container button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  transition: all 3s ease;
  -webkit-transition: all .3s ease;
}

/* ########################## */
/* ########################## */
/* this is error section*/

.error-list {
  background-color: rgba(198,61,67,0.25);
  border-radius: 4px;
  list-style: none;
  width: 100%;

}

.error-list li {
  margin: auto;
  color: #3e1214;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 11.25px 11.25px 13.25px;
  text-align: center;
}


/* ########################## */
/* ########################## */
/* this is why-join section*/



.why-join-container {
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  width: 100%;
  text-align: center;
  background-color: #008ae6;
}

.why-join-container h2 {
  color: #fff;
  font-size: 56px;
  font-weight: lighter;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.why-join-container hr {
  border:none;
  background-color: #ffff;
  color: #fff;
  font-size: 34px;
  font-weight: lighter;
  line-height: 1.4;
  margin-bottom: 0.5em;
  height: 2px;
  margin-bottom: 1em;
  width: 50px;
  overflow: visible;
}

.why-join-content-container {
  display: flex;
  justify-content: center;
}

.why-join-content {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #33adff;
  width: 400px;
  padding: 10px;
}

.why-join-content img {
  margin-bottom: 20px;
  width: 315px;
  height: 400px;
}
.why-join-content p {
  margin: 0 0 1em 0;
  color: #fff;
  line-height: 1.2;
  font-weight: lighter;
  font-size: 15px;
}

.why-join-content h3 {
  color: #fff;
  line-height: 1.2;
  font-size: 25px;
  font-weight: lighter;

  margin: 0 0 0.75em 0;
  margin-bottom: 0.5em;
}
