.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-container {
  border-top: 1px solid;
  border-bottom: 1px solid #e6e6e6;
  min-height: 600px;
  width: 500px;
  background-color: #ffff;
  border-radius: 8px;
  font-family: Lato, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
.modal-title-container {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.modal-title-container h1 {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  word-break: break-word;
  color: #34495E;
  width: 400px;
  font-size: 20px;
  margin: auto;
}
.modal-title-container button {
  color: #afb7c3;
  font-size: 180%;
  margin:auto;
  background-color: #ffff;
  border: none;
  cursor:pointer;

}

.login-form {

}

.login-form-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.login-input {

  background-color: #ffff;
  border-radius: 4px;
  padding: 12px 8px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.15);
  box-sizing: border-box;
  width: 440px;
  overflow: visible;
  margin-bottom: 15px;
  height: 50px;
  font-size: 16px;
}

.session-submit {
  max-width: 100%;
  width: 100%;
  background-color: #287FB8;
  border: 1px solid #287FB8;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  min-width: 6em;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}
.session-submit:hover {
  background-color: #206592;
  cursor: pointer;
  transition: all 3s ease;
  -webkit-transition: all .3s ease;
}

.other-form-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.other-form-container p {
  color: #34495e;
  font-size: 1em;
}
.other-form-container button {
  margin: auto;
  margin-top: 20px;
  width: 140px;
  background-color: #ffff;
  border: 1px solid #287FB8;
  color: #287FB8;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  max-width: 140px;
}
.other-form-container button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  transition: all 3s ease;
  -webkit-transition: all .3s ease;
}
