<!DOCTYPE html>
<html>
  <head>
    <title>Meet and Stay With Locals All Over the World</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://ht-assets.couchsurfing.com/assets/logo-square-e2d7f22607e27920605d6656b76c78666b948c4bf638cec31c88aa0605a4f00d.png">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDerHslRn7NZq_nZ5LnDFdcC9hg8a-9wAc&libraries=geometry,drawing,places">
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
